
<div class="row js-inview">
  <div class="row-meta">
    <h2 class="row-meta__title">
      {{ block.educationSchool }}
    </h2>
    <h3 class="row-meta__location">
      {{ block.educationLocation }}
    </h3>
    <div class="row-meta__duration">
      {{ block.educationEnd|date('Y') }} - {{ block.educationEnd|date('Y') }}
    </div>
  </div>

  <div class="row-body">
    <h2 class="row-body__title">
      {{ block.educationTitle }}
    </h2>
  </div>
</div>
