
<div class="table fadeInUp js-waypointitem">
  <div class="table-meta">
    <h2 class="table-meta__title">
      {{ block.educationSchool }}
    </h2>
    <h3 class="table-meta__location">
      {{ block.educationLocation }}
    </h3>
    <div class="table-meta__duration">
      {{ block.educationEnd|date('Y') }} - {{ block.educationEnd|date('Y') }}
    </div>
  </div>

  <div class="table-body">
    <h2 class="table-body__title">
      {{ block.educationTitle }}
    </h2>
  </div>
</div>
