
<div class="table__container">
  {% for item in experienceBlock %}
    <div class="table fadeInUp js-waypointitem">

      <div class="table--meta">
        <h2 class="table--meta-title">
          {{ item.experienceFunction }}
        </h2>
        <h3 class="table--meta-location">
          {{ item.experienceLocation }}
        </h3>
        <div class="table--meta-duration">
          {{ item.experienceStart|date('m Y') }} - {% if% item.experienceEnd is not empty %} {{ item.experienceEnd|date('m Y') }} {% else %} Present
        </div>
      </div>

      <div class="table--body">
        <h2 class="table--body-title">
          {{ item.experienceTitle }}
        </h2>
        <div class="table--body-text">
          {{ item.experienceSummary }}
        </div>
      </div>

    </div>
  {% endfor %}
</div>
