
<div class="row js-inview">
  <div class="row-meta">
    <h2 class="row-meta__title">
      {{ block.experienceFunction }}
    </h2>
    <h3 class="row-meta__location">
      {{ block.experienceLocation }}
    </h3>
    <div class="row-meta__duration">
      {{ block.experienceStart|date('F Y') }} - {% if block.experienceEnd is not empty %} {{ block.experienceEnd|date('F Y') }} {% else %} Present {% endif %}
    </div>
  </div>

  <div class="row-body">
    <h2 class="row-body__title">
      {{ block.experienceTitle }}
    </h2>
    <div class="row-body__text">
      {{ block.experienceSummary }}
    </div>
  </div>
</div>
