
{% set uriSegment = craft.request.segment(1) %}

<nav class="navigation js-header" role="navigation">
  <a href="{{ siteUrl }}" class="navigation__item {{ uriSegment == '' ? ' is-active' }}" title="About" data-title="About">
    About
  </a>
  <a href="{{ url('experience') }}" class="navigation__item {{ uriSegment == 'experience' ? ' is-active' }}" title="Experience" data-title="Experience">
    Experience
  </a>
  <a href="{{ url('education') }}" class="navigation__item {{ uriSegment == 'education' ? ' is-active' }}" title="Education" data-title="Education">
    Education
  </a>
</nav>
